Repository Caiooooo/zilean: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
      - id: taplo-fmt
        name: format Cargo.toml
        description: cargo install taplo-cli
        entry: taplo fmt --check --option reorder_keys=true --option indent_string='    '
        language: rust
        files: \.toml$
      - id: typos
        name: typos check
        description: check typo, cargo install typos-cli
        entry: typos
        language: rust
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: bash -c 'cargo check --all'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: run stateless unittest
        entry: cargo test --all -- --nocapture
        language: rust
        files: \.rs$
        pass_filenames: false

update some :hankey:
  Cargo.toml
  src/core/account.rs
  src/core/dataloader.rs
  src/core/market.rs
  src/core/mod.rs
  src/core/order.rs
  src/core/processor.rs
  src/core/recorder.rs
  src/main.rs
  src/prelude.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

update more :hankey:
  Cargo.toml
  src/core/account.rs
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/mod.rs
  src/core/processor.rs
  src/core/recorder.rs
  src/core/server.rs
  src/core/stats.rs
  src/ipc/mod.rs
  src/lib.rs
  src/main.rs
  src/prelude.rs
  src/utils/mod.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

feat: finish v0.1
  .gitignore
  Cargo.toml
  benches/client_request.rs
  examples/testAlll.py
  examples/zileanExample.py
  misc/config.toml
  src/config.rs
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/server.rs
  src/lib.rs
  src/main.rs
  src/utils/display.rs
  src/utils/logger.rs
  src/utils/mod.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

feat: add zconfig
  .gitignore
  README.md
  examples/testAlll.py
  misc/config.toml
  misc/zilean.service
  src/config.rs
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/server.rs
  src/lib.rs
  src/main.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

chore: update readme
  README.md
Due: none

Dev
  Cargo.toml
  misc/config.toml
  misc/deploy.sh
  misc/zilean.service
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/server.rs
  src/ipc/mod.rs
  src/main.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

feat: contract support.
  misc/config.toml
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/utils/mod.rs
  src/utils/round.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

fix: lev bugs.
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/server.rs
  src/main.rs
  src/utils/display.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

pref(params), style(zmq), fix: milseconds cancel fail
  Cargo.toml
  src/core/engine.rs
  src/core/server.rs
  src/ipc/mod.rs
  src/ipc/zmq_server.rs
  src/main.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test

style: start info.
  src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: finish examples.
  examples/zileanExample.py
  src/core/engine.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat: use decimal and better struct.
  Cargo.toml
  benches/client_request.rs
  examples/testAlll.py
  src/core/dataloader.rs
  src/core/engine.rs
  src/core/market.rs
  src/core/server.rs
  src/ipc/handlers.rs
  src/ipc/mod.rs
  src/ipc/traits.rs
  src/ipc/zmq_server.rs
Due: cargo-fmt, taplo-fmt, cargo-check, cargo-clippy, cargo-test
